<h4>Invoice</h4>
<div>
  <div class="row">
      <div>
          <p-dropdown [options]="cars" [(ngModel)]="selectedCar1" [style]="{'width':'150px'}" editable="true" placeholder="Select a Brand"></p-dropdown>
          <p>Selected Car: {{selectedCar1 || 'none'}}</p> 
      </div>
      &nbsp;&nbsp;
      <div>
          <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText> 
              <label for="float-input">Username</label>
          </span>
    
      </div>
  </div>
  <br> 
  <h6>Billing Address</h6>

  <div class = "row">
    <div>
        <textarea rows="5" cols="30" pInputTextarea></textarea>
    </div>
    &nbsp; &nbsp;
    <div>
        <p-dropdown [options]="cars" [(ngModel)]="selectedCar1" [style]="{'width':'150px'}" editable="true" placeholder="Select a Brand"></p-dropdown>
        <br> <br> <br> <br><br>
        <input id="input" type="text" size="30" pInputText [(ngModel)]="text"> 

    </div>
    &nbsp;&nbsp;
    <div>
        <p-calendar [(ngModel)]="date1"></p-calendar>
    </div>
    &nbsp; &nbsp;
    <div>
        <p-calendar [(ngModel)]="date1"></p-calendar>
    </div>
      
  </div>
  <br>

  <div class="row">
      <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>PRODUCT/SERVICE</th>
              <th>DESCRIPTION</th>
              <th>QTY</th>
              <th>RATE</th>
              <th>AMOUNT</th>
              <th>TAX</th>
              <th> </th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Doe</td>
              <td>john@example.com</td>
              <td> 1</td>
              <td> 1</td>
              <td> 1</td>
              <td><span class="glyphicon">&#xe013;</span></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Moe</td>
              <td>mary@example.com</td>
              <td> 1</td>
              <td> 1</td>
              <td> 1</td>

            </tr>
            <tr>
              <td>3</td>
              <td>Dooley</td>
              <td>july@example.com</td>
              <td> 1</td>
              <td> 1</td>
              <td> 1</td>

            </tr>
          </tbody>
        </table>
  </div>
   <div class="row">
      <button pButton type="button" label="Addlines"></button> &nbsp;
      <button pButton type="button" label="Clear all lines"></button> &nbsp;
      <button pButton type="button" label="Subtotal"></button> &nbsp;
   </div>
   <br>
   <h6>Message displayed on Invoice</h6>
   <div>
      <textarea rows="5" cols="30" pInputTextarea></textarea>
  </div>
  &nbsp;
  <h6>Message displayed on Statement</h6>
  <div>
      <textarea rows="5" cols="30" pInputTextarea></textarea>
  </div>
  &nbsp; 
  <h6>Attachments</h6>

  <div>
      <textarea rows="5" cols="30" pInputTextarea></textarea>
  </div>
  &nbsp;

</div>
